*~
*.dll
*.dylib
*.exe
*.out
*.so
*.tar.gz
*.test
*.tgz

/.idea

# executables accidentally created in the repository root
/aefind
/aefind.exe
/aefp
/aefp.exe
/aegis
/aegis.exe
/aereport
/aereport.exe
/configure
/configure.exe
/cook
/cook.exe
/fhist
/fhist.exe
/fmtgen
/fmtgen.exe
